@tailwind base;
@tailwind components;
@tailwind utilities;

/* Normal */

@font-face {
  font-family: "fontawesome";
  src: url(/themes/custom/fp_theme/fonts/font-awesome/fontawesome-webfont.eot?v=4.7.0);
  src: url(/themes/custom/fp_theme/fonts/font-awesome/fontawesome-webfont.eot#iefix&v=4.7.0)
      format("embedded-opentype"),
    url(/themes/custom/fp_theme/fonts/font-awesome/fontawesome-webfont.woff2?v=4.7.0)
      format("woff2"),
    url(/themes/custom/fp_theme/fonts/font-awesome/fontawesome-webfont.woff?v=4.7.0)
      format("woff"),
    url(/themes/custom/fp_theme/fonts/font-awesome/fontawesome-webfont.ttf?v=4.7.0)
      format("truetype"),
    url(/themes/custom/fp_theme/fonts/font-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular)
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "grapheinpro";
  src: url("/grapheinpro-black-webfont.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "grapheinpro";
  src: url("/grapheinpro-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "grapheinpro";
  src: url("/grapheinpro-book-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "grapheinpro";
  src: url("/grapheinpro-italic-webfont.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "grapheinpro";
  src: url("/grapheinpro-light-webfont.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

/* Condensed */
@font-face {
  font-family: "frutiger-condensed";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("/FrutigerLTProLightCn.otf") format("opentype");
}

@font-face {
  font-family: "frutiger-condensed";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/FrutigerLTProRegularCn.otf") format("opentype");
}
@font-face {
  font-family: "frutiger-condensed";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("/FrutigerLTProBoldCn.otf") format("opentype");
}

@layer utilities {
  .text-shadow-title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      -3px 3px 6px rgba(0, 0, 0, 0.6), 3px -3px 6px rgba(0, 0, 0, 0.56),
      -3px -3px 6px rgba(0, 0, 0, 0.6);
  }
}

:root {
  font-family: grapheinpro, sans-serif, system-ui, Arial;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #2b74b7;
  text-decoration: underline !important;
  text-decoration-thickness: 1px !important;
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(43, 116, 183, 0.25);
}
