@tailwind base;
@tailwind components;
@tailwind utilities;

/* Normal */
@font-face {
  font-family: "frutiger";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("/FrutigerLTProLight.otf") format("opentype");
}

@font-face {
  font-family: "frutiger";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/FrutigerLTProRoman.otf") format("opentype");
}
@font-face {
  font-family: "frutiger";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("/FrutigerLTProBold.otf") format("opentype");
}

/* Condensed */
@font-face {
  font-family: "frutiger-condensed";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("/FrutigerLTProLightCn.otf") format("opentype");
}

@font-face {
  font-family: "frutiger-condensed";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/FrutigerLTProCondensed.otf") format("opentype");
}
@font-face {
  font-family: "frutiger-condensed";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("/FrutigerLTProBoldCn.otf") format("opentype");
}

:root {
  font-weight: lighter;
  font-family: frutiger-condensed, sans-serif, system-ui, Arial;
  line-height: 1.5;
  font-weight: 300;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
